/* 
    Document   : admin
    Created on : 20 janv. 2014, 16:25:16
    Author     : cyril
    Description:
        Purpose of the stylesheet follows.
*/

root { 
        display: block;
}

.main{
        margin-top: 100px;
}